@font-face {
  font-family: 'Golos UI';
  src: url('../fonts/golos-ui_vf.woff2') format('woff2'),
       url('../fonts/golos-ui_vf.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos UI';
  src: url('../fonts/golos-ui_medium.woff2') format('woff2'),
       url('../fonts/golos-ui_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;   
}

@font-face {
  font-family: 'Golos UI';
  src: url('../fonts/golos-ui_bold.woff2') format('woff2'),
       url('../fonts/golos-ui_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}