* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Golos UI', sans-serif;
    color: #222222;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1122px;
    padding: 107px 90px  107px 90px;
    position: relative;
}

.main-header {
    font-size: 140px;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 180px;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.main-image {
    width: 462px;
    height: 501px;
}

.login-form {
    width: 343px;
    display: inline-block;
    vertical-align: top;
}

.login-form__label {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    display: inline-block;
    margin-bottom: 5px;
}

.login-form__input-field {
    width: 343px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background-color: #F2F3F5;
    padding: 13px 12px 13px 12px;
}

.login-form__extra-info {
    color: #808080;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    margin-top: 5px;
    margin-bottom: 16px;
}

.login-form__password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.login-form__show-password-image {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.login-form__continue-button {
    width: 343px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background-color: #222222;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .main {
        width: 343px;
        padding: 0;
        position: relative;
    }

    .main-header {
        font-size: 75px;
        line-height: 95.54px;
        letter-spacing: -0.8px;
    }

    .main-image {
        width: 247px;
        height: 268px;
        margin-top: 57px;
    }

    .container {
        flex-direction: column;
        gap: 24px;
    }
}